// NAVBAR
nav {
    #dropdownMenuLink {
        min-width: 10rem;
    }
    @media (max-width: 375px) {
        .navbar-header,
        .navbar-brand,
        .dropdown,
        form {
            display: block;
            margin: auto;
        }
    }
}

hr {
    height: 5px;
}

.card-title img {
    height: 60px;
}
